@font-face {
    font-family: 'helvetipixel';
    src: url('/helvetipixel_medium.ttf')  format('truetype');
}

body {
    background: #282a36;
    color: #fff;
    font-family: 'helvetipixel', sans-serif;
    margin: 20px;
}

* {
    font-smooth: never;
    -webkit-font-smoothing : none;
    image-rendering: pixelated;
}

h1 {
    margin: 0 auto;
    font-size: 64px;
    font-weight: normal;
}

h1 span {
    color: #ffb86c;
}

#demo-canvas {
    transform: scale(4);
    transform-origin: top left;
}